.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
	flex: 1 0 auto;
}

h1 a {
  font-family: Papyrus, Fantasy, Arial;
}

nav .brand-logo {
  font-size: 1.2rem;
}

@media only screen and (min-width: 601px) {
  nav .brand-logo {
    padding-left: 1em;
    font-size: 2.1rem;
  }
}
