.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
	flex: 1 0 auto;
}

h1 a {
  font-family: Papyrus, Fantasy, Arial;
}

nav .brand-logo {
  padding-left: 1em;
}
